<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
  <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
            <h1>{{title}}</h1>

    <a href="/" style="color: #888888; margin-right: 16px; text-decoration: none;">Weather</a>
    <a href="/help" style="color: #888888; margin-right: 16px; text-decoration: none;">Help</a>
 
 <p>{{helpText}}</p>
    </div>
    
<p style=" font-size:20px; color: #888888; border-top: 1px solid #eeeeee;margin-top: 16px; padding: 16px 0;">Created by {{name}}</p>
</body>

</html>